{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-sort-imports"],
  "importSort": {
    ".js, .jsx, .ts, .tsx": {
      "parser": "typescript",
      "style": "eslint",
      "options": {}
    }
  },
  "importOrderSortSpecifiers": true
}
